# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/


# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git 
*.sln.bak