<h1> {{title}} </h1>

<table mat-table [dataSource]="dataSource">
  <tr>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  </tr>
  <tr>
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
  </tr>
  <tr>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> UserName </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  </tr>
  <tr>
    <ng-container matColumnDef="secret">
      <th mat-header-cell *matHeaderCellDef> Secret </th>
      <td mat-cell *matCellDef="let element"> {{element.secret}} </td>
    </ng-container>
  </tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<router-outlet></router-outlet>
