<form [formGroup]="passwordForm">
  <fieldset>

    <fieldset class="form-group">
      <input class="form-control form-control-lg"
             formControlName="url"
             type="text"
             placeholder="Url (website address)" />
    </fieldset>

    <fieldset class="form-group">
      <input class="form-control form-control-lg"
             formControlName="title"
             type="text"
             placeholder="Title" />
    </fieldset>

    <fieldset class="form-group">
      <input class="form-control"
             formControlName="username"
             type="text"
             placeholder="Username" />
    </fieldset>

    <fieldset class="form-group">
      <input class="form-control"
             formControlName="secret"
             type="text"
             placeholder="Password" />
    </fieldset>

    <fieldset class="form-group">
      <textarea class="form-control"
                formControlName="description"
                type="text"
                rows="3"
                placeholder="Description">
              </textarea>
    </fieldset>

    <button mat-fab color="primary" aria-label="Plus icon button" (click)="submitForm()">
      Save Password
    </button>

  </fieldset>
</form>
